
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after,
#content:after {
    content:"";
    display:table;
}
body:after,
#page:after,
#content:after {
    clear:both;
}
body,
#page,
#content {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #000000;
    position: relative;
}

#page {
    width: 950px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */;
    padding: 0 30px;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

#footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.push {
    width: 100%;
    overflow: hidden; /*clearfix*/
    position: relative;
    z-index: -1;
}

header,
#main {
    width: 950px;
    float: left;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
    color: #FE6702;
    text-decoration: none;
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
}

a:active, a:hover {
    color: #000000;
    text-decoration: none;
}

/* Forms
-------------------------------------------------------------- */
input:focus {
    outline: none;
    border: none;
}

/* Headers
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

/* Header
-------------------------------------------------------------- */
header {
    position: relative;
    padding: 30px 0 18px;
}

header #logo {
    width: 324px;
    height: 112px;
    background: url('../images/dutch-innovation-logo.png') no-repeat 0 0;
    float: left;
}

header h1 {
    width: 100%;
}

header h1 a {
    opacity: 0;
    display: block;
    width: 324px;
    height: 112px;
}

header h4 {
    font-size: 2.9em;
    color: #808285;
    padding-top: 55px;
    float: right;
}

/* Menu
-------------------------------------------------------------- */

#main-menu {
    width: 100%;
    display: block;
    font-size: 1.9em;
    float: right;
    padding: 16px 0;
    margin: 16px 0 0 0;
    border-top: solid #000000 1px;
    border-bottom: solid #000000 1px;
    float: left;
}

#main-menu h3 {
    float: left;
}

#main-menu .menu-main-container {
    float: right;
}

#main-menu ul {
    float: left;
}


#main-menu li {
    float: left;
}

#main-menu a {
    font-weight: bold;
    display: block;
    margin-left: 27px;
    text-decoration: none;
}


/* General
-------------------------------------------------------------- */
#main #content {
    width: 100%;
    padding-bottom: 42px;
    margin-bottom: 20px;
    opacity: 0; /*shown on fadein*/
    position: relative;
}

#main #content #articles {
    width: 550px;
    margin-right: 65px;
    float: left;
}

#main #content article.post {
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-bottom: solid 1px #000000;
}

#main #content article.post.last {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#main #content article.post h2 a {
    font-size: 4.8em;
    font-weight: bold;
    line-height: 1.1;
    color: #000000;
    padding-bottom: 8px;
    width: 100%;
    display: block;
}

#main #content article.post .post-subtitle {
    font-size: 2.2em;
    padding-bottom: 8px;
    width: 100%;
}

#main #content article.post .social-icons {
    width: 100%;
    margin-bottom: 17px;
    float: left;
}

#main #content article.post .social-icons li {
    margin-right: 5px;
    float: left;
}

#main #content article.post .social-icons li a {
    width: 24px;
    height: 24px;
    background: url('../images/social-icons-sprite.jpg') no-repeat 0 0;
    display: block;
}

#main #content article.post .social-icons li a.pintrest {
    background-position: 0 0;
}

#main #content article.post .social-icons li a.twitter {
    background-position: -24px 0;
}

#main #content article.post .social-icons li a.linkedin {
    background-position: -48px 0;
}

#main #content article.post .social-icons li a.facebook {
    background-position: -72px 0;
}

#main #content article.post .social-icons li a.pintrest:hover {
    background-position: 0 -48px;
}

#main #content article.post .social-icons li a.twitter:hover {
    background-position: -24px -48px;
}

#main #content article.post .social-icons li a.linkedin:hover {
    background-position: -48px -48px;
}

#main #content article.post .social-icons li a.facebook:hover {
    background-position: -72px -48px;
}

#main #content .text-container img {
    max-width: 542px;
    border: 4px solid #000000;
    overflow: hidden;
    margin-bottom: 0;
}

#main #content .text-container p {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 15px;
}

/* Home
-------------------------------------------------------------- */
/*body.home { }*/


/* Page Template
-------------------------------------------------------------- */
body.page #main #content {
    width: 100%;
}

body.page #main #content article {
    float: left;
}

body.page #main #content article .text-container {
    width: 450px;
    margin-right: 30px;
    float: left;
}

body.page #main #content article .text-container.no-image {
    width: 750px;
}

body.page #main #content .text-container h3 {
    font-size: 4.2em;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0 20px;
}

body.page #main #content article .text-container p {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 10px;
}

body.page #main #content article .text-container.no-image p {
    margin-bottom: 20px;
}

body.page #main #content article figure {
    width: 470px;
    height: 673px;
    background-color: #F4F4F4;
    float: right;
}

body.page #main #content article figcaption {
    width: 470px;
    margin: 15px 0 25px;
    font-size: 1.3em;
    font-family: 'Arial', Helvetica, sans-serif;
    float: right;
}

/* Category and Tags ---- Browse
-------------------------------------------------------------- */
body.category-browse #main #content,
body.tag #main #content {
    width:100%;
}

body.category-browse #main #content #articles,
body.tag #main #content #articles {
    width: 100%;
    margin-right: 0;
}

#main #content .browse-filters {
    width: 100%;
    float: left;
}

#main #content .browse-filters p {
    font-size: 1.3em;
    color: #CECECE;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#main #content .browse-filters .tag-list {
    width: 720px;
    margin-bottom: 20px;
    float: left;
}

#main #content .browse-filters .tag-list li {
    margin: 0 10px 10px 0;
    float: left;
}

#main #content .browse-filters .tag-list li a {
    font-weight: bold;
    font-size: 1.4em;
    color: #FFFFFF;
    -webkit-transition: color .35s ease-in-out;
       -moz-transition: color .35s ease-in-out;
            transition: color .35s ease-in-out;
    text-transform: uppercase;
    padding: 11px 13px;
    border: solid 4px #000000;
    background-color: #000000;
    -webkit-transition: background-color .35s ease-in-out;
       -moz-transition: background-color .35s ease-in-out;
            transition: background-color .35s ease-in-out;
    display: block;
}

#main #content .browse-filters .tag-list li a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

#main #content .browse-filters #searchform {
    width: 230px;
    background: url('../images/search-icon.jpg') no-repeat 10px 13px;
    float: left;
}

#main #content .browse-filters #searchform input[type="text"] {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 1.4em;
    color: #AEAEAE;
    width: 185px;
    border: solid 1px #999999;
    -webkit-transition: border .25s ease-in-out;
       -moz-transition: border .25s ease-in-out;
            transition: border .25s ease-in-out;
    background: none;
    padding: 14px 8px 12px 35px;
}

#main #content .browse-filters #searchform input[type="text"]:focus {
    border: solid 1px #000000;
    color: #000000;
}

#main #content .browse-posts {
    width: 100%;
    float: left;
}

#main #content .browse-posts .column {
    margin: 0 0 10px 10px;
    position: relative;
    float: left;
}

#main #content .browse-posts .column.first {
    margin-left: 0;
}

#main #content .browse-posts .thumb a {
    display: block;
    overflow: hidden;
    width: 222px;
    height: 222px;
    border: 4px solid #000000;
    opacity: 1;
    color: #FFFFFF;
    -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
            transition: opacity .35s ease-in-out;
    -webkit-background-size: 222px 222px !important;
       -moz-background-size: 222px 222px !important;
            background-size: 222px 222px !important;
}

#main #content .browse-posts .thumb a:hover {
    opacity: 0;
}

#main #content .browse-posts .thumb figcaption {
    position: absolute;
    width: 222px;
    height: 222px;
    color: #FE6702;
    border: 4px solid #FE6702;
    background-color: #FFFFFF;
    z-index: -2;
}

#main #content .browse-posts .thumb figcaption h4 {
    font-size: 1.9em;
    font-weight: bold;
    padding: 20px 0 0 20px;
}

#main #content .browse-posts .thumb figcaption p {
    font-size: 1.35em;
    font-weight: bold;
    padding: 10px 0 0 20px;
}


/* Sidebar
-------------------------------------------------------------- */
#main #sidebar {
    width: 335px;
    float: right;
}

/* Sidebar - Homepage
-------------------------------------------------------------- */
#main #sidebar .post-date-nav {
    width: 100%;
    margin: 3px 0 15px;
    float: left;
}


#main #sidebar .post-date-nav li {
    margin-right: 10px;
    float: left;
}

#main #sidebar .post-date-nav .post-date {
    font-size: 1.9em;
    font-weight: bold;
}

#main #sidebar .post-date-nav .prev a,
#main #sidebar .post-date-nav .next a {
    width: 10px;
    height: 10px;
    margin-top: 4px;
    display: block;
    background: url('../images/arrows-sprite.png') no-repeat 0 0;
}

#main #sidebar .post-date-nav .next a {
    background-position: -10px 0;
}

#main #sidebar .post-date-nav .prev a:hover {
    background-position: 0 -10px;
}

#main #sidebar .post-date-nav .next a:hover {
    background-position: -10px -10px;
}

#main #sidebar .post-summary {
    width:100%;
    font-size: 1.5em;
    background-color: #EBEBEB;
    padding: 10px 0;
    float: left;
}

#main #sidebar .post-summary li {
    border-top: solid 1px #FFFFFF;
    padding: 15px 25px;
}

#main #sidebar .post-summary li.label {
    font-weight: bold;
    border-top: none;
}

#main #sidebar .post-summary p {
    line-height: 1.2;
}

#main #sidebar .post-summary .learn-more a {
    font-weight: bold;
}

#main #sidebar .quote {
    width: 100%;
    font-size: 2.3em;
    color: #898989;
    line-height: 1.4;
    margin-top: 20px;
    float: left;
}

#main #sidebar .promo {
    margin-top: 20px;
    padding-top: 17px;
    width: 335px;
    height: 335px;
    border-top: solid 10px #FE6702;
    float: left;
}

#main #sidebar .promo a {
    display: block;
    width: 335px;
    height: 335px;
    overflow: hidden;
}

/* Sidebar - Featured
-------------------------------------------------------------- */
#main #sidebar.featured h5 {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #000000;
}

#main #sidebar.featured .thumb {
    margin-bottom: 20px;
}

#main #sidebar.featured .thumb a {
    display: block;
    opacity: 1;
    -webkit-transition: opacity .35s ease-in-out;
       -moz-transition: opacity .35s ease-in-out;
            transition: opacity .35s ease-in-out;
}

#main #sidebar.featured .thumb a:hover {
    opacity: 0.65;
}

#main #sidebar.featured figure {
    width: 335px;
    height: 187px;
    margin-bottom: 10px;
}

#main #sidebar.featured figcaption .post-date {
    font-size: 1.1em;
    color: #898989;
    margin-bottom: 5px;
}

#main #sidebar.featured figcaption .post-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #000000;
}

/* Infinite Scroll Loading
-------------------------------------------------------------- */
#main #content .pagination {
    display: none;
}

#main #content #infscr-loading {
    width: 100%;
    height: 32px;
    margin:0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.category-news #main #content #infscr-loading {
    width: 550px;
}

#main #content #infscr-loading img {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 48%;
}

#main #content #infscr-loading div {
    font-size: 1.4em;
    color: #666666;
    padding-top: 10px;
    text-align: center;
    font-style: italic;
}

/* Content No Found
-------------------------------------------------------------- */
#content .not-found {
    font-size: 1.6em;
    margin-bottom: 400px;
}

/* Images
-------------------------------------------------------------- */

a img {
    border: none;
}
p img {
    margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
    margin-right: 1em;
}
img.alignright {
    margin-left: 1em;
}
.wp-caption {
    padding: .5em;
    text-align: center;
}
.wp-caption img {
    margin: .25em;
}
.wp-caption .wp-caption-text {
    margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
    margin: 0;
}


/* Footer
-------------------------------------------------------------- */
#footer {
    width: 100%;
    text-align: right;
    font-size: 1.6em;
    background-color: #FE6702;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

#footer-content {
    width: 950px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: right;
    background-color: #FE6702;
    position: relative;
    z-index: 2;
}

#footer form {
    float: left;
}

#footer form input[type="email"] {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 0.8em;
    color: #AEAEAE;
    width: 200px;
    border: none;
    padding: 8px 6px 6px;
}

#footer .social-icons {
    margin: 3px 0 0 10px;
    float: left;
}

#footer .social-icons li {
    margin-right: 3px;
    float: left;
}

#footer .social-icons li a {
    width: 24px;
    height: 24px;
    background: url('../images/social-icons-sprite.jpg') no-repeat 0 -24px;
    display: block;
}

#footer .social-icons li a.facebook {
    background-position: -72px -24px;
}

#footer .social-icons li a.pintrest {
    background-position: 0 -24px;
}

#footer .social-icons li a.twitter {
    background-position: -24px -24px;
}

#footer .social-icons li a.linkedin {
    background-position: -48px -24px;
}

#footer .social-icons li a.facebook:hover {
    background-position: -72px -72px;
}

#footer .social-icons li a.pintrest:hover {
    background-position: 0 -72px;
}

#footer .social-icons li a.twitter:hover {
    background-position: -24px -72px;
}

#footer .social-icons li a.linkedin:hover {
    background-position: -48px -72px;
}

#footer #footer-logo {
    width: 270px;
    height: 31px;
    background: url('../images/holland-logo.png') no-repeat 0 0;
    float: right;
}

#footer #footer-logo h4 {
    color: #FFFFFF;
    font-size: 0.7em;
    margin: 12px 0 0 95px;
    text-align: right;
}